<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Add Book</title>
</head>
<body>
<a th:href="@{/loginIndex}"><button type="button" class="btn btn-success">Return to Dashboard</button></a>
<a th:href="@{/logout}"><button type="button" class="btn btn-success">Logout</button></a>

<form th:action="@{/save}" method="post" enctype="multipart/form-data">
    <input  type="hidden" name="id">
    <div class="form-group">
        <label for="bookName">Book Name</label>
        <input type="text" class="form-control"  name="bookName" id="bookName"  placeholder="Enter Book Name">
         </div>
    <div class="form-group">
        <label for="regDate">Register Date</label>
        <input type="date" class="form-control" name="registerDate" id="regDate" placeholder="Enter Reg Date">
    </div>
    <div class="form-group">
        <label for="regDate">Product Description</label>
        <input type="text" class="form-control" name="description" id="description" placeholder="Enter Description">
    </div>

    <div class="form-group">
        <label for="regDate">Product Price</label>
        <input type="text" class="form-control" name="price" id="price" placeholder="Enter Price">
    </div>

    <div class="custom-file mb-4">
        <input type="file" name="file" class="custom-file-input"
               id="customFile"> <label class="custom-file-label"
                                       for="customFile">Product Image</label>
    </div>

    <div class="form-group">
        <label th:for="booktype">Book Type</label>
        <select name="blid">
            <option th:each="btype : ${bookTypeList }"
                    th:text="${btype.bookType}"
                    th:value="${btype.blid}"></option>
        </select> </div>


<!--    <div class="form-group">-->
<!--        <input type="file" name="file" class="custom-file-input"-->
<!--               id="customFile"> <label class="custom-file-label"-->
<!--                                       for="customFile">Book Image</label>-->
<!--    </div>-->

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</body>
</html>